<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home" id="logo">
      <img src="/images/static/wiw-logo-red.png" alt="WIW logo" height="50em" id="normal-logo" />
      <img src="/images/static/wiw-logo-black.png" alt="WIW logo hover" height="50em" id="hover-logo" />
    </a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="center-link">
          <ul class="navbar-nav flex-grow-1 pe-3" id="center-button">

            <li class="nav-item">
              <a class="nav-link mx-lg-2 <%= page === 'home' ? 'active' : '' %>" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 <%= page === 'film' ? 'active' : '' %>" href="/film">Film</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 <%= page === 'serieTV' ? 'active' : '' %>" href="/serieTV">Serie TV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 <%= page === 'contatti' ? 'active' : '' %>" href="/contatti">Contatti</a>
            </li>

          </ul>
        </div>

        
          <% if (user) { %>
            <form class="d-flex ms-auto" role="search" action="/search" method="GET">
              <input class="form-control me-2" type="search" name="query" placeholder="Ricerca" aria-label="Search" id="searchInput" />
              <select class="form-select me-2 d-none" name="genre" id="genreSelect">
                <option value="commedia">Commedia</option>
                <option value="fantasy">Fantasy</option>
                <option value="fantascienza">Fantascienza</option>
                <option value="animazione">Animazione</option>
                <option value="storia">Storia</option>
                <option value="azione">Azione</option>
                <option value="crime">Crime</option>
                <option value="biografico">Biografico</option>
                <option value="musical">Musical</option>
              </select>
              <select class="form-select me-2" name="searchBy" id="searchBy">
                <option value="titolo">Titolo</option>
                <option value="attori">Attore</option>
                <option value="registi">Regista</option>
                <option value="genere">Genere</option>
              </select>
              
              <button class="btn btn-outline-success" type="submit">Cerca</button>
            </form>
            
          <% } else { %>
            <form class="d-flex ms-auto" role="search" action="/search_no_log" method="GET">
              <input class="form-control me-2" type="search" name="query" placeholder="Ricerca per titolo" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Cerca</button>
          </form>
          <% } %>
          
        
      </div>
    </div>

    <div style="width: 10px;"></div>
    <% if (user) { %>
      <% if (user.tipologia==='amministratore' ) { %>
        <a href="/aggiungi_contenuto" class="add-button mx-lg-2">Aggiungi</a>
        <% } %>

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/images/profile/<%= user.immagineProfilo %>" alt="Profilo di <%= user.nome_utente  %>" class="rounded-circle"
                height="70" width="70">
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/profilo/<%= user.nome_utente  %>">Profilo</a></li>
              <li><a class="dropdown-item" id="logout" href="#">Logout</a></li>
            </ul>
          </div>
          <% } else { %>
            <a href="/login" class="login-button">Login</a>
            <% } %>

              <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  </div>
</nav>